# My Jupyter Notebook on IBM Watson Studio

**Bence Damina** <br>
Business Informatics Student

*I would like to explore connections between data in the economic field. I'd like to understand how economy works*

### This code is going to print the squares of the first 10 positive numbers.

In [5]:
for i in range(1, 11):
    print(i * i)

1
4
9
16
25
36
49
64
81
100

Using Markdown or HTML, this cell must include at least 3 of the following: horizontal rule, bulleted list, numbered list, tables, hyperlinks, images, code/syntax highlighting, blocked quotes, strikethrough.

<html>
<hr>
<ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
    <li>Five</li>
</ul>
<ol>
    <li>Asia</li>
    <li>Europe</li>
    <li>North-America</li>
    <li>South-America</li>
    <li>Africa</li>
    <li>Australia</li>
    <li>Antarctica</li>
</ol>
<table>
    <tr>
        <th>First</th>
        <th>Second</th>
        <th>Third</th>
    </tr>
    <tr>
        <td>Kylian</td>
        <td>Alphonso</td>
        <td>Marcus</td>
    </tr>
    <tr>
        <td>Mpabbe</td>
        <td>Davies</td>
        <td>Rashford</td>
    </tr>
</table>
<a href = "https://www.ibm.com"> www.ibm.com </a>
</html>